<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Добавить книгу</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h1>Добавить книгу</h1>

        <form action="#" th:action="@{/book/add}" th:object="${book}" method="post">
            <p>Название книги: <input type="text" th:field="*{name}" /></p>
            <p>Имя автора: <input type="text" th:field="*{author}" /></p>
            <p>Количество страниц: <input type="text" th:field="*{size}" /></p>
            <p><input type="submit" value="Записать" /> <input type="reset" value="Сбросить" /></p>
        </form>


        <a href="/book">Вернуться к списку</a>
    </body>
</html>